gateware/build
gateware/*.bit
gateware/ise/spiflasher/build/
gateware/ise/spiflasher/spiflasher.bit
hardware/*.zip
hardware/*.pcb-*
hardware/gerbers
hardware/bom
hardware/xy
hardware/order
hardware/black_board.png
hardware/board.png
hardware/schematic.pdf
hardware/schematic.png
hardware/local_gerbers
*__pycache__
